<VirtualHost *:80>
    ServerAdmin suporte@cos.ufrj.br
    ServerName   {{ dns }}
    DocumentRoot /home/{{ user }}/www
    ErrorLog /var/log/apache2/{{ dns }}-error.log
    CustomLog /var/log/apache2/{{ dns }}-access.log combined
    AcceptPathInfo on
    DirectoryIndex index.php

    <Directory /home/{{ user }}/www>
       php_admin_value open_basedir   "/home/{{ user }}/www"
       php_admin_value upload_tmp_dir "/home/{{ user }}/www/tmp"
        Options -Indexes -FollowSymLinks -MultiViews +SymLinksIfOwnerMatch
        AllowOverride FileInfo
        Order allow,deny
        Allow from All
        Require all granted
    </Directory>

#<Directory /home/{{ user }}/www >
#    Order Deny,Allow
#    Allow from 146.164.0.0/16
#    Allow from 10.0.0.0/24
#    Allow from 186.228.122.31/32
#    Deny from All
#</Directory>


AssignUserId {{ user }} {{ user }}

RewriteEngine on
RewriteCond %{SERVER_NAME} ={{ dns }}
RewriteRule ^ https://%{SERVER_NAME}%{REQUEST_URI} [END,NE,R=permanent]
</VirtualHost>
